In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
from sklearn.metrics import mean_squared_error as mse, mean_absolute_percentage_error as mape
from datetime import datetime

import math
from datetime import date, timedelta
import numpy as np
from math import sqrt
from pandas import read_csv
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from scipy.interpolate import make_interp_spline

from keras.callbacks import CSVLogger
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import TimeDistributed
from keras.layers import Bidirectional
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers import Flatten
from keras.layers import RepeatVector
from keras.backend import dropout

from statsmodels.tsa.seasonal import seasonal_decompose

In [102]:
KODE = 'TLKM.JK'
today_date = date.today()
td = timedelta(366)
mulai = today_date - td
end_ = today_date + timedelta(1)

import yfinance as yf

data = yf.download(KODE, start=mulai, end = end_)
datam = yf.download(KODE, period="max", auto_adjust=True)

data.tail()
#datam.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-15 00:00:00+07:00,4050.0,4050.0,3990.0,4010.0,4010.0,65025400
2023-03-16 00:00:00+07:00,4040.0,4060.0,3980.0,4050.0,4050.0,96707900
2023-03-17 00:00:00+07:00,4090.0,4100.0,4030.0,4050.0,4050.0,232270900
2023-03-20 00:00:00+07:00,4050.0,4050.0,3940.0,3990.0,3990.0,105982700
2023-03-21 00:00:00+07:00,4000.0,4120.0,4000.0,4120.0,4120.0,88808200

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2022-03-23 00:00:00+07:00 to 2023-03-21 00:00:00+07:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       248 non-null    float64
 1   High       248 non-null    float64
 2   Low        248 non-null    float64
 3   Close      248 non-null    float64
 4   Adj Close  248 non-null    float64
 5   Volume     248 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.6 KB

data.reset_index(inplace=True)

data['Date'] = data['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [99]:
data.index = data.index.tz_localize(None)

In [103]:
data.index = data.index.tz_convert(None)
data

                       Open    High     Low   Close    Adj Close     Volume
Date
2022-03-22 17:00:00  4550.0  4570.0  4500.0  4550.0  4389.448730   78299500
2022-03-23 17:00:00  4500.0  4570.0  4500.0  4560.0  4399.095703   89578400
2022-03-24 17:00:00  4510.0  4540.0  4480.0  4520.0  4360.507324   90053700
2022-03-27 17:00:00  4510.0  4600.0  4500.0  4600.0  4437.684570  184131000
2022-03-28 17:00:00  4600.0  4620.0  4560.0  4560.0  4399.095703   77920800
...                     ...     ...     ...     ...          ...        ...
2023-03-14 17:00:00  4050.0  4050.0  3990.0  4010.0  4010.000000   65025400
2023-03-15 17:00:00  4040.0  4060.0  3980.0  4050.0  4050.000000   96707900
2023-03-16 17:00:00  4090.0  4100.0  4030.0  4050.0  4050.000000  232270900
2023-03-19 17:00:00  4050.0  4050.0  3940.0  3990.0  3990.000000  105982700
2023-03-20 17:00:00  4000.0  4120.0  4000.0  4120.0  4120.000000   88808200

[248 rows x 6 columns]

data.set_index('Datetime')

data

data.info()

data

In [110]:
data_close= data.filter(['Close'])
data_close

                      Close
Date
2022-03-22 17:00:00  4550.0
2022-03-23 17:00:00  4560.0
2022-03-24 17:00:00  4520.0
2022-03-27 17:00:00  4600.0
2022-03-28 17:00:00  4560.0
...                     ...
2023-03-14 17:00:00  4010.0
2023-03-15 17:00:00  4050.0
2023-03-16 17:00:00  4050.0
2023-03-19 17:00:00  3990.0
2023-03-20 17:00:00  4120.0

[248 rows x 1 columns]

dataset= data.filter(['Close'])
len(dataset)

train_data, test_data = dataset[0:int(len(dataset)*0.95)], dataset[int(len(dataset)*0.95):]

len(train_data)

len(test_data)

In [112]:
# split  dataset into train, validate and test sets


def split_dataset(data):
	# split into train validation and test sets
	train, val, test = data[0:int(len(data)*0.90)], data[int(len(data)*0.90):int(len(data)*0.95)], data[int(len(data)*0.95):]
	# restructure into samples of daily data shape is [samples, hours, feature]
	
	return train, val, test

# evaluate one or more daily forecasts against expected values
def evaluate_forecasts(actual, predicted):
	scores = list()
	# calculate an RMSE score for each hour of the day
	for i in range(actual.shape[1]):
		# calculate mse
		mse = mean_squared_error(actual[:, i], predicted[:, i])
		# calculate rmse
		rmse = sqrt(mse)
		# store in scores list
		scores.append(rmse)
  
	# calculate overall RMSE
	s = 0
	for row in range(actual.shape[0]):
		for col in range(actual.shape[1]):
			s += (actual[row, col] - predicted[row, col])**2
	score = sqrt(s / (actual.shape[0] * actual.shape[1]))
	return score, scores

# summarize scores
def summarize_scores(name, score, scores):
	s_scores = ', '.join(['%.2f' % s for s in scores])
	print('%s: [%.3f] %s' % (name, score, s_scores))

# convert history into inputs (actual) and outputs (predicted) for training
def convert_train_val(train, n_input, n_out=24):
	# flatten data
	data = train.reshape((train.shape[0]*train.shape[1], train.shape[2]))
	X, y = list(), list()
	in_start = 0
	# step over the entire history one time step at a time
	for _ in range(len(data)):
		# define the end of the input sequence
		in_end = in_start + n_input
		out_end = in_end + n_out
		# ensure we have enough data for this instance
		if out_end <= len(data):
			x_input = data[in_start:in_end, 0]
			x_input = x_input.reshape((len(x_input), 1))
			X.append(x_input)
			y.append(data[in_end:out_end, 0])
		# move along one time step of 1 hour
		in_start += 1
	return np.array(X), np.array(y)

# make a forecast
def forecast(model, history, n_input):
	# flatten data
	data = np.array(history)
	data = data.reshape((data.shape[0]*data.shape[1], data.shape[2]))
	# retrieve last observations for input data
	input_x = data[-n_input:, 0]
	# reshape into [1, n_input, 1] that is 1 sample, sample data size, one feature
	input_x = input_x.reshape((1, len(input_x), 1))
	# forecast the next hour
	yhat = model.predict(input_x, verbose=0)
	# we only want the vector forecast
	yhat = yhat[0]
	return yhat

# Build and train CNN-BiLSTM model
def build_model_CNNBiLSTM(train, val, n_input):
	# Create training and validation sets
	train_x, train_y = convert_train_val(train, n_input)
	val_x, val_y = convert_train_val(val, n_input)
	# define parameters
	csv_logger = CSVLogger('CNNBiLSTM_Model_Logger.log')
	verbose, epochs, batch_size = 0, 30, 384
	n_timesteps, n_features, n_outputs = train_x.shape[1], train_x.shape[2], train_y.shape[1]
	nv_timesteps, nv_features, nv_outputs = val_x.shape[1], val_x.shape[2], val_y.shape[1]
	# reshape output into [samples, timesteps, features]
	train_y = train_y.reshape((train_y.shape[0], train_y.shape[1], 1))
	val_y = val_y.reshape((val_y.shape[0], val.shape[1], 1))
	# define model

	model = Sequential()
	model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(n_timesteps,n_features)))
	model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
	model.add(MaxPooling1D(pool_size=2))
	model.add(Flatten())
	model.add(RepeatVector(n_outputs))
	model.add(Bidirectional(LSTM(100, activation='relu', return_sequences=True), input_shape=(n_timesteps, 1)))
	model.add(TimeDistributed(Dense(100, activation='relu')))
	model.add(TimeDistributed(Dense(1)))
	model.compile(loss='mse', optimizer='adam')
	print(model.summary())
	# fit network and store mse loss in hist 
	hist=model.fit(train_x, train_y, validation_data=(val_x, val_y),callbacks=[csv_logger], epochs=epochs, batch_size=batch_size, verbose=verbose)
	return model, hist

# evaluate model fits model using training and validation data, then conducts a walk forwad validation with the test data
def evaluate_model_CNNBiLSTM(train, val, test, n_input):
	# fit model
	model, hist = build_model_CNNBiLSTM(train, val, n_input)
	# history is a list of houry data
	history = [x for x in train]
	# walk-forward validation over each hour in test set
	predictions = list()
	for i in range(len(test)):
		# predict the hour
		yhat_sequence = forecast(model, history, n_input)
		# store the predictions
		predictions.append(yhat_sequence)
		# get real observation and add to history for predicting the next hour
		history.append(test[i, :])
	# evaluate predictions hours for each day
	predictions = np.array(predictions)
	score, scores = evaluate_forecasts(test[:, :, 0], predictions)
	return score, scores, hist, predictions

In [111]:
data_close

                      Close
Date
2022-03-22 17:00:00  4550.0
2022-03-23 17:00:00  4560.0
2022-03-24 17:00:00  4520.0
2022-03-27 17:00:00  4600.0
2022-03-28 17:00:00  4560.0
...                     ...
2023-03-14 17:00:00  4010.0
2023-03-15 17:00:00  4050.0
2023-03-16 17:00:00  4050.0
2023-03-19 17:00:00  3990.0
2023-03-20 17:00:00  4120.0

[248 rows x 1 columns]

In [113]:
trans = MinMaxScaler()
data_close = trans.fit_transform(data_close)
tran_scale = trans.scale_
#print(dataset)

# split into train and test
train, val, test = split_dataset(data_close)
print('train size: ', train.shape)
print('valid size: ', val.shape)
print('test size : ', test.shape)

train size:  (223, 1)
valid size:  (12, 1)
test size :  (13, 1)

In [114]:
train

array([[0.81196581],
       [0.82051282],
       [0.78632479],
       [0.85470085],
       [0.82051282],
       [0.83760684],
       [0.83760684],
       [0.83760684],
       [0.8034188 ],
       [0.78632479],
       [0.70940171],
       [0.8034188 ],
       [0.83760684],
       [0.84615385],
       [0.88034188],
       [0.93162393],
       [0.92307692],
       [0.94871795],
       [0.92307692],
       [0.88034188],
       [0.87179487],
       [0.87179487],
       [0.94871795],
       [0.99145299],
       [1.        ],
       [0.87179487],
       [0.60683761],
       [0.63247863],
       [0.62393162],
       [0.5982906 ],
       [0.56410256],
       [0.4957265 ],
       [0.55555556],
       [0.52136752],
       [0.48717949],
       [0.43589744],
       [0.47008547],
       [0.51282051],
       [0.5982906 ],
       [0.55555556],
       [0.60683761],
       [0.58974359],
       [0.60683761],
       [0.63247863],
       [0.55555556],
       [0.42735043],
       [0.38461538],
       [0.35897436],
       [0.41025641],
       [0.43589744],
       [0.39316239],
       [0.37606838],
       [0.44444444],
       [0.37606838],
       [0.43589744],
       [0.38461538],
       [0.47863248],
       [0.47008547],
       [0.4017094 ],
       [0.36752137],
       [0.37606838],
       [0.34188034],
       [0.35897436],
       [0.33333333],
       [0.33333333],
       [0.35897436],
       [0.37606838],
       [0.35042735],
       [0.37606838],
       [0.35042735],
       [0.29059829],
       [0.35897436],
       [0.47008547],
       [0.5042735 ],
       [0.47863248],
       [0.52136752],
       [0.56410256],
       [0.53846154],
       [0.54700855],
       [0.55555556],
       [0.5982906 ],
       [0.54700855],
       [0.53846154],
       [0.5982906 ],
       [0.72649573],
       [0.76923077],
       [0.81196581],
       [0.8974359 ],
       [0.94017094],
       [0.88888889],
       [0.82051282],
       [0.82905983],
       [0.81196581],
       [0.72649573],
       [0.69230769],
       [0.81196581],
       [0.85470085],
       [0.8974359 ],
       [0.90598291],
       [0.98290598],
       [0.82905983],
       [0.76068376],
       [0.78632479],
       [0.75213675],
       [0.82051282],
       [0.83760684],
       [0.85470085],
       [0.87179487],
       [0.77777778],
       [0.76068376],
       [0.82051282],
       [0.85470085],
       [0.8034188 ],
       [0.78632479],
       [0.75213675],
       [0.76923077],
       [0.69230769],
       [0.76923077],
       [0.75213675],
       [0.70940171],
       [0.70940171],
       [0.66666667],
       [0.73504274],
       [0.71794872],
       [0.74358974],
       [0.71794872],
       [0.73504274],
       [0.73504274],
       [0.71794872],
       [0.73504274],
       [0.70940171],
       [0.64102564],
       [0.7008547 ],
       [0.60683761],
       [0.63247863],
       [0.5982906 ],
       [0.58974359],
       [0.62393162],
       [0.55555556],
       [0.51282051],
       [0.64102564],
       [0.64957265],
       [0.69230769],
       [0.67521368],
       [0.65811966],
       [0.65811966],
       [0.72649573],
       [0.67521368],
       [0.7008547 ],
       [0.52991453],
       [0.45299145],
       [0.52136752],
       [0.58119658],
       [0.52991453],
       [0.5042735 ],
       [0.48717949],
       [0.47008547],
       [0.38461538],
       [0.38461538],
       [0.38461538],
       [0.37606838],
       [0.35042735],
       [0.36752137],
       [0.34188034],
       [0.31623932],
       [0.36752137],
       [0.36752137],
       [0.32478632],
       [0.32478632],
       [0.37606838],
       [0.30769231],
       [0.34188034],
       [0.20512821],
       [0.        ],
       [0.06837607],
       [0.11965812],
       [0.04273504],
       [0.08547009],
       [0.12820513],
       [0.12820513],
       [0.05982906],
       [0.06837607],
       [0.1025641 ],
       [0.1025641 ],
       [0.16239316],
       [0.12820513],
       [0.15384615],
       [0.12820513],
       [0.17948718],
       [0.11111111],
       [0.15384615],
       [0.12820513],
       [0.17094017],
       [0.22222222],
       [0.18803419],
       [0.14529915],
       [0.09401709],
       [0.16239316],
       [0.1965812 ],
       [0.23076923],
       [0.22222222],
       [0.15384615],
       [0.21367521],
       [0.2991453 ],
       [0.28205128],
       [0.24786325],
       [0.23076923],
       [0.21367521],
       [0.20512821],
       [0.31623932],
       [0.30769231],
       [0.30769231],
       [0.21367521],
       [0.23076923],
       [0.24786325],
       [0.23931624],
       [0.23931624],
       [0.17094017],
       [0.20512821],
       [0.14529915],
       [0.17094017],
       [0.16239316],
       [0.17094017]])

In [117]:
# evaluate model and get scores
n_input = 24
CNNBL_score, CNNBL_scores, hist_CNNBL, predictions_CNNBL = evaluate_model_CNNBiLSTM(train, val, test, n_input)
CNNBL_score, CNNBL_scores, predictions_CNNBL = CNNBL_score/tran_scale , CNNBL_scores/tran_scale, predictions_CNNBL/tran_scale

# summarize rmse scores
summarize_scores('rmse', CNNBL_score, CNNBL_scores)
print('Avg. score: ', CNNBL_score)

fig, axs = plt.subplots(nrows=1, ncols=3, figsize=(6*3*1.5, 3*1.5))

# plot rmse scores
hours = ['1', '2', '3', '4', '5', '6', '7','8', '9', '10', '11', '12','13', '14', '15', '16', '17', '18', '19','20', '21', '22', '23', '24' ]
axs[0].plot(hours, CNNBL_scores, marker='o', label='CNN-BiLSTM')
axs[0].set_title('RMSE-CNN-BiLSTM')
axs[0].set_xlabel("Hour")
axs[0].set_ylabel("RMSE [kW]")

extent = axs[0].get_window_extent().transformed(fig.dpi_scale_trans.inverted())
fig.savefig('RMSE-CNN-BiLSTM.pdf', bbox_inches=extent.expanded(1.2, 1.3))

# Plot training and validation loss
loss = hist_CNNBL.history['loss']
val_loss = hist_CNNBL.history['val_loss']
epochs = range(1, len(loss) + 1)
axs[1].plot(epochs, loss, 'b', label='Training loss')
axs[1].plot(epochs, val_loss, 'r', label='Validation loss')
axs[1].set_title('Training and Validation Loss')
axs[1].set_xlabel("Epoch")
axs[1].set_ylabel("MSE")
axs[1].legend()

extent = axs[1].get_window_extent().transformed(fig.dpi_scale_trans.inverted())
fig.savefig('train-val-loss-CNN-BiLSTM.pdf', bbox_inches=extent.expanded(1.3, 1.3))

# Plot an example prediction for one day
axs[2].plot(hours, N_actual[15], 'b', label='Actual')
axs[2].plot(hours, predictions_CNNBL[15], 'r', label='CNN-BiLSTM Predicted')
axs[2].set_title('24 hr Actual vs Predicted')
axs[2].set_xlabel("Hour")
axs[2].set_ylabel("Active Power [kW]")
axs[2].legend()

extent = axs[2].get_window_extent().transformed(fig.dpi_scale_trans.inverted())
fig.savefig('predictions-CNN-BiLSTM.pdf', bbox_inches=extent.expanded(1.2, 1.3))

IndexError: tuple index out of range